<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Solar Wallbox">
    {% block head %}{% endblock %}
    <!--<link rel="stylesheet" href="/static/css/app.css" />-->
</head>
<body>
    <div class="page">
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
    </div> <!-- close div page -->
{% block js %}{% endblock %}
</body>
</html>
